body {
    background-color: cadetblue;
    margin: 0;
    padding: 30px;
    text-align: center;
}
h1 {
    font-family: cursive;
    font-size : 60px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}
.qr{
    color: red;
}
p {
    font-size: 35px;
    font-style: italic;
    letter-spacing: 4px;
    font-weight:700;
}
input::placeholder {
    font-style: italic;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}
input {
    width: 200px;
    height: 30px;
    padding: 5px;
    border-style: none;
    border-radius: 6px;
}
img {
    margin-top: 60px;
    display: block;

}
.qr-code {
    margin-top: 30px;
    display: flex;
    justify-content:center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}